version: '3'
services:

  {% for i in range(N_GPU) %}
  jupyter{{i}}:
    build:
      context: .
    ports:
      - "8888:888{{i}}"
    devices:
      - /dev/nvidia{{i}}
    volumes:
      - ./:/src/ml-utils
  {% endfor %}
